
body {
   
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #dad8db ;
    padding-left:  353px;
    margin-top: 30px;
    padding-left:  413px;
    margin-top: 200px;

}
.container2{
    display: grid;
    padding-left:  413px;
    margin-top: 0px;



}
#btn{
    background-color: pink;
    padding-right: 300px;
}
.container {
    text-align: center;

}.row-column-controls {

}

.row-column-controls {

    margin: 10px 0;
   
}


label {
    margin-right: 10px;
}
input {
    text-align: center;
    border-radius: 10px;
    border:solid 4px  #10b981; ;
    width: 50px;
    padding: 4px 4px;
    margin-right: 3px;
    font-family: "Poppins", sans-serif;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
    border-radius: 1rem;
}
#header{
    font-size: 40px;
    padding-bottom: 60px;
    color: #10b981;
}
#Generatebtn{
    border-radius: 16px;
    margin: 1rem auto;
     display: inline; 
     background-color: #10b981;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 4px; 
     border-radius: 4px;
    border: none;
   margin-left: 80px;
    background-color: #10b981;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 4px;
     border: none;
     color: white;
    
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
td {
    position: relative;
}
td[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
    position: absolute;
    border: none;

 }
 #addBtn{ 
     background-color: #10b981;
    color: white;
    border-radius: 10px;
    height: 30px;
    border: none;
    width: 90px;

}
#delBtn{
    background-color: #cf1515;
    color: white;
    
    border-radius: 10px;
    border: none;
    height: 30px;
}columns
.row-column-controls{
    gap:100px;
}


@media screen and (min-width:375px) and (max-width:600px){
    body {
        margin: 2px;
        padding-left:  10%;
        padding-right: 10%;
        margin-top: 50px;
    }
    .content {
        flex-wrap: wrap;
        flex-direction: row;

        
        justify-content: center;
        width: 100%;
        padding-left: 60px;
        height: 95%;
        background-color: #dad8db;
        border: 2rem solid #161717; 
         border-radius: 1rem;
    } 

    #Generatebtn{
        border-radius: 3px;
        margin: 0%;
        flex-wrap: wrap;
        font-weight: 50;
        padding: 0px 0px;
        border-radius: 1px;
        padding-left: 0px;
    }

    #header{
        padding-bottom: 0px;
       font-size: smaller;
    
} 




 @media screen and (min-width:600px) and (max-width:800px){
    .columns{
        padding-bottom: 60px;
    }
    
}
@media screen and (min-width:600px) and (max-width:800px){
    body {
        margin: 0px;
        padding-left:  10%;
        padding-right: 10%;
        margin-top: 0px;
    }
    .content {
        flex-wrap: wrap;
        flex-direction: row;
        width: 70%;
        padding-left: 10%;
        padding-right: 10%;
        height: 70%;
    }
    #Generatebtn{
        border-radius: 3px;
        margin: 0%;
        flex-wrap: wrap;
        font-weight: 50;
        padding: 0px 0px;
        border-radius: 1px;
        padding-left: 0px;
    }
    #header{
        padding-bottom: 10px;
       font-size: small;
    }  
} 
}



























    

>>>>>>> 2ca06f9d3e369acb0bf78bd27aabf7d78bea2ce7


