body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color:  #1f2937;
    padding-left: 250px;
    margin-top: 60px;
    height: 80vh;
  
}
.container {
    text-align: center;
}
.controls, .row-column-controls {
    margin: 10px 0;
}
label {
    margin-right: 10px;
}
input {
    width: 50px;
    margin-right: 10px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 60%;
    padding-left: 40px;
    height: 95%;
    background-color: #dad8db;
    /* border: 2rem solid #161717; */
    border-radius: 1rem;
}
  
#header{
    font-size: 40px;
    padding-bottom: 60px;
}
#Generatebtn{
    border-radius: 16px;
    margin: 1rem auto;
    display: inline;
    background-color: #10b981;;
    color: #100f12d8;
    width: 200px;
    height: 40px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    padding-left: 40px;


}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
td {
    position: relative;
}
td[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
    position: absolute;
}

@media screen and(max-width:480px) {
   
    .content {
        flex-wrap: wrap;
        flex-direction: row;
        
        justify-content: c;
        width: 100%;
        padding-left: 60px;
        height: 95%;
        background-color: #dad8db;
        /* border: 2rem solid #161717; */
        border-radius: 1rem;
    } 
    
}